<app-nav></app-nav>
<h3 style="text-align: center;margin-top: 15px;">PRICE</h3>
<h5 style="margin: 30px;">Selected Services</h5>
<div class="row">
    
<div class="col-md-4" *ngIf=displayCard1>
    <mat-card class="card-selected1 mat-elevation-z4" 
        
        style="margin:100px;width: 45%;height: 150px;"
        >
            <span [matTooltip] class="selection1">
            <mat-icon>
                <img src="assets/images/services/directions_car.svg" class="center" 
            style="width: 650%;height: 100px;">
            </mat-icon>
            </span>
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            </mat-card-header>
            <p style="margin-top:120px;">
                some text </p>
        </mat-card>
</div>
<div class="col-md-4" *ngIf=displayCard2>
    <mat-card class="card-selected1 mat-elevation-z4" 
        
        style="margin:100px;width: 45%;height: 150px;"
        >
            <span [matTooltip] class="selection1">
            <mat-icon>
                <img src="assets/images/services/directions_car.svg" class="center" 
            style="width: 650%;height: 100px;">
            </mat-icon>
            </span>
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            </mat-card-header>
            <p style="margin-top:120px;">
                some text </p>
        </mat-card>
</div>
<div class="col-md-4" *ngIf=displayCard3>
    <mat-card class="card-selected1 mat-elevation-z4" 
        
    style="margin:100px;width: 45%;height: 150px;"
    >
        <span [matTooltip] class="selection1">
        <mat-icon>
            <img src="assets/images/services/directions_car.svg" class="center" 
        style="width: 650%;height: 100px;">
        </mat-icon>
        </span>
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <p style="margin-top:120px;">
            some text </p>
    </mat-card>
</div>
<div class="col-md-4" *ngIf=displayCard4>
    <mat-card class="card-selected1 mat-elevation-z4" 
        
    style="margin:100px;width: 45%;height: 150px;"
    >
        <span [matTooltip] class="selection1">
        <mat-icon>
            <img src="assets/images/services/directions_car.svg" class="center" 
        style="width: 650%;height: 100px;">
        </mat-icon>
        </span>
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <p style="margin-top:120px;">
            some text </p>
    </mat-card>
</div>
<div class="col-md-4" *ngIf=displayCard5>
    <mat-card class="card-selected1 mat-elevation-z4" 
        
    style="margin:100px;width: 45%;height: 150px;"
    >
        <span [matTooltip] class="selection1">
        <mat-icon>
            <img src="assets/images/services/directions_car.svg" class="center" 
        style="width: 650%;height: 100px;">
        </mat-icon>
        </span>
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <p style="margin-top:120px;">
            some text </p>
    </mat-card>
</div>
<div class="col-md-4" *ngIf=displayCard6>
    <mat-card class="card-selected1 mat-elevation-z4" 
        
        style="margin:100px;width: 45%;height: 150px;"
        >
            <span [matTooltip] class="selection1">
            <mat-icon>
                <img src="assets/images/services/directions_car.svg" class="center" 
            style="width: 650%;height: 100px;">
            </mat-icon>
            </span>
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            </mat-card-header>
            <p style="margin-top:120px;">
                some text </p>
        </mat-card>
</div>
</div>
<br><hr><br>
<h5 style="margin: 30px;">Selected Car Size</h5>
<div class="row">
    <div class="col-md-4" *ngIf=displayCard7>
        <mat-card class="card-selected1 mat-elevation-z4" 
        
        style="margin:100px;width: 45%;height: 150px;"
        >
            <span [matTooltip] class="selection1">
            <mat-icon>
                <img src="assets/images/services/directions_car.svg" class="center" 
            style="width: 650%;height: 100px;">
            </mat-icon>
            </span>
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            </mat-card-header>
            <p style="margin-top:120px;">
                some text </p>
        </mat-card>
    </div>    
    <div class="col-md-4" *ngIf=displayCard8>
        <mat-card class="card-selected1 mat-elevation-z4" 
        
        style="margin:100px;width: 45%;height: 150px;"
        >
            <span [matTooltip] class="selection1">
            <mat-icon>
                <img src="assets/images/services/directions_car.svg" class="center" 
            style="width: 650%;height: 100px;">
            </mat-icon>
            </span>
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            </mat-card-header>
            <p style="margin-top:120px;">
                some text </p>
        </mat-card>
    </div>    
    <div class="col-md-4" *ngIf=displayCard9>
        <mat-card class="card-selected1 mat-elevation-z4" 
        
        style="margin:100px;width: 45%;height: 150px;"
        >
            <span [matTooltip] class="selection1">
            <mat-icon>
                <img src="assets/images/services/directions_car.svg" class="center" 
            style="width: 650%;height: 100px;">
            </mat-icon>
            </span>
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            </mat-card-header>
            <p style="margin-top:120px;">
                some text </p>
        </mat-card>
    </div>    

</div>
<br><br>
<div class="button">
    <button mat-button (click)="onSubmit()">
        CONTINUE
        <mat-icon>navigate_next</mat-icon>
    </button>
    
</div>