<app-nav></app-nav>
<h3 style="text-align: center;margin-top: 15px;">CHECKOUT</h3>
<h5 style="margin-top:50px;margin-left: 65px;margin-bottom: 30px;">Service Details</h5>
<hr style="height:2px;
color:gray;
background-color:gray;
width: 90%;"> 
<small *ngIf=service1 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=service2 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=service3 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=service4 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=service5 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=service6 style="color: gray;margin-left: 70px"><i>some text</i></small>

<br>
<h5 style="margin-top:50px;margin-left: 65px;margin-bottom: 30px;">Service Details</h5>
<hr style="height:2px;
color:gray;
background-color:gray;
width: 90%;"> 
<small *ngIf=carsize1 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=carsize2 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=carsize3 style="color: gray;margin-left: 70px"><i>some text</i></small>

<br>
<h5 style="margin-top:50px;margin-left: 65px;margin-bottom: 30px;">Price Details</h5>
<hr style="height:2px;
color:gray;
background-color:gray;
width: 90%;"> 
<small *ngIf=carsize1 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=carsize2 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=carsize3 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=service1 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=service2 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=service3 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=service4 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=service5 style="color: gray;margin-left: 70px"><i>some text</i></small>
<small *ngIf=service6 style="color: gray;margin-left: 70px"><i>some text</i></small>
<br>

<div class="row">
    <div class="col-md-6">
        <h2 style="margin-top:50px;margin-left: 65px;margin-bottom: 30px;">TOTAL PRICE</h2>
    </div>
    <div class="col-md-6">
        <h2 style="margin-top:50px;margin-left: 65px;margin-bottom: 30px;">XXX AED</h2>
    </div>
</div>
<br><br>
<div class="button">
    <button mat-button (click)="onSubmit()">
        CONTINUE
        <mat-icon>navigate_next</mat-icon>
    </button>
    
</div>